* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  background-image: url("/Images/BDD-Image.jpg");
  background-size: cover;
  background-position: center;
}

header {
  display: flex;
  color: #fff;
  padding: 10px;
  text-align: center;
  padding-bottom: 15%;
}

.header-section {
  display: flex;
  width: 65%;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  position: relative;
}

.header-section a {
  width: 12%;
  background-color: #0078be;
  padding: 0.5% 2%;
  border-radius: 30px;
}
.header-section a h5 {
  display: flex;
  width: 100%;
  height: 35px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.header-section h5 {
  padding: 1.5%;
  border-radius: 5px;
}
.header-section h5:hover {
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  background-color: rgb(255, 255, 255, 0.4);
  padding: 1.5%;
  border-radius: 5px;
}

.header-section a > h5 {
  font-family: "TheMixSemiBold";
}

header img {
  width: 20%;
}

section {
  padding: 20px;
  color: #fff;
  text-align: center;
  padding-bottom: 20%;
}

section h2 {
  font-size: 300%;
}

.section-two {
  background-color: white;
  padding: 20px;
  z-index: 1;
}
.section-two h1 {
  text-align: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  margin-top: 20px;
}

.section-two-card {
  width: 18%;
  height: 65vh;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
  margin: 1%;
}

.blue:hover {
  background-color: rgb(34, 116, 223, 0.2);
}

.cyan:hover {
  background-color: rgba(34, 163, 223, 0.2);
}

.green:hover {
  background-color: rgba(34, 223, 129, 0.2);
}

.purple:hover {
  background-color: rgba(223, 34, 129, 0.2);
}

.yellow:hover {
  background-color: rgba(166, 223, 34, 0.2);
}

.section-two-card img {
  width: 70%;
  height: 14vh;
}
.section-two-card h4 {
  width: 100%;
}

.section-two-card p {
  margin-top: 20px;
  color: grey;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  word-spacing: 3px;
  line-height: 1.5;
}

.fixed-image {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/Images/image1.jpg") center/cover no-repeat;
  height: 70vh;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.fixed-image h1 {
  margin-bottom: 2%;
  color: white;
  padding-top: 2%;
  z-index: -1;
}

.fixed-image img {
  width: 40%;
  cursor: pointer;
}

.section-three-wrapper {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: white;
}

.section-three-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 3%;
}

.section-three-title {
  background-color: white;
  padding-top: 2%;
  text-align: center;
}

.section-three-card {
  position: relative;
  width: 23%;
  height: 65vh;
  padding: 3% 5%;
  line-height: 25px;
  text-align: center;
  margin: 1%;
}

.section-three-card:hover {
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-bottom: 3%;
}

.section-three-card a {
  position: absolute;
  cursor: pointer;
  bottom: 20px;
  width: 60%;
  display: block;
  padding: 10px 10px;
  background-color: #0078be;
  color: #fff;
  text-decoration: none;
  border-radius: 20px;
}

.section-three-card li {
  margin-bottom: 10%;
}

.section-three-image {
  width: 25%;
  margin-right: 10%;
}

.section-three-image img {
  padding-top: 25%;
  width: 120%;
}

.store-download {
  position: absolute;
  bottom: 0%;
  left: 35%;
}

.store-download img {
  margin: 2%;
  margin-left: 4%;
  width: 20%;
}

.section-four-wrapper {
  display: flex;
  background-color: rgb(233, 232, 228);
  background: linear-gradient(
      rgba(233, 232, 228, 0.6),
      rgba(233, 232, 228, 0.6)
    ),
    url("/Images/image3.jpg") center/cover no-repeat;
  background-size: cover;
  background-position: center;
  height: 60vh;
  width: 100%;
  flex-direction: column;
}

.section-four-cards-wrapper {
  display: flex;
}

.section-four-title {
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.section-four-cards {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100%;
}

.section-four-cards img {
  display: flex;
  filter: brightness(1.2) contrast(1.2);
  width: 30%;
  margin-bottom: 5%;
}

.colored {
  color: #21212100;
  font-family: "TheMixBlack-Caps", Sans-serif;
  font-size: 150%;
  font-weight: 400;
  -webkit-text-stroke-width: 2px;
  stroke-width: 2px;
}

.one {
  -webkit-text-stroke-color: #009a9e;
  stroke: #009a9e;
}

.two {
  -webkit-text-stroke-color: #e13870;
  stroke: #e13870;
}

.three {
  -webkit-text-stroke-color: #0078be;
  stroke: #0078be;
}

.four {
  -webkit-text-stroke-color: #00802d;
  stroke: #00802d;
}

.section-four-text {
  font-weight: 600;
}

.section-five-wrapper {
  background-color: #fff;
}

.section-five-title {
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: white;
}

.slider-container {
  position: relative;
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider img {
  width: 100%;
  height: auto;
}

.slide {
  width: calc(100% / 3);
  flex-shrink: 0;
  margin: 2%;
}

.slide h4 {
  margin-top: 1%;
  margin-bottom: 1%;
}

.slide p {
  margin-top: 1.5%;
  margin-bottom: 1.5%;
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: #0078be;
  color: #fff;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
}

.prev-btn {
  left: 1%px;
  font-weight: 700;
}

.next-btn {
  right: 1%;
  font-weight: 700;
}

.blog-btn {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 5%;
}

.blog-btn a {
  display: flex;
  width: 12%;
  height: 35px;
  justify-content: center;
  align-items: center;
  background-color: #0078be;
  color: white;
  border-radius: 30px;
  font: 500;
}

.section-six-wrapper {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  background-color: #fff;
}

.section-six-title {
  width: 25%;
}

.section-six-title h1 {
  font-weight: 900;
}

.section-six-images p {
  font-size: 30px;
}
.section-six-images img {
  cursor: pointer;
}

.section-six-slider {
  background-color: #fff;
  text-align: center;
}

.section-six-slider i {
  font-size: 70%;
  cursor: pointer;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #212121;
  color: #fff;
  padding-left: 10%;
  padding-right: 10%;
  line-height: 30px;
}

.footer-one {
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 20px;
}
.footer-two {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}
